<div id="contact-view">
  <span id="contact-header">let's get in touch</span>
  <form action="//formspree.io/fc249@cornell.edu" method="POST">
    <input type="text" name="name" placeholder="name"><br><br>
    <input type="text" name="_replyto" placeholder="email"><br><br>
    <textarea rows="6" name="message" placeholder="
    leave a message"></textarea><br><br>
    <input id="submit" class="black-box" type="submit" name="submit">
  </form>
</div>

<style>
  #contact-view {
    text-align: center;
  }
  input, textarea {
    border : none;
    border-bottom: solid 1px black;
  }
  input {
    height: 40px;
    width: 400px;
  }
  textarea {
    width: 400px;
  }
  #submit {
    border: solid 1px black;
    background: none;
    text-transform: uppercase;
    width: 140px;
    cursor: pointer;
  }
  ::-webkit-input-placeholder {
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    text-transform: uppercase;
    color: black;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    text-transform: uppercase;
    color: black;
  }
  :-ms-input-placeholder {  
    text-align: center; 
    text-transform: uppercase;
    color: black;
  }
  #contact-header {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
  }
  form {
    margin: 30px 0 0 0;
  }
</style>
