<div id="school-view" class="container-fluid">
  <div id="student_ivan_img">
    <img id="student_ivan" class="fadein" src="images/me.png"/>
    <span class="navCategory">Fall '15  </span>
  </div>
  <div id="student_bio">
    <span class="largeCapBold">Boston University '18</span><br><br>

    <span class="smallCapBold">Computer Science</span>
    <p class="smallFont">Hey there! I'm an undergraduate student at Boston University currently aspiring to be a Software Developer post-graduation. I've taken specialized courses in Computer Systems, Advanced Algorithms, and am looking to take concentrated courses in Machine Learning, Software Engineering, and Pervasive Data in Urban Settings.</p>
  
    <span class="smallCapBold">New York</span>
    <p class="smallFont">I'm from the quiet, residential neighborhood of Oakland Gardens in Queens, New York. </p>
  </div>
</div>

<style>
  #school-view {
    display: flex;
    flex-direction: row;
  }
  #student_ivan_img {
    flex: 1 60%;
    margin-right: 15px;
  }
  #student_ivan {
    width: 100%;
  }
  #student_bio {
    flex: 2 40%;
  }
  
  @media only screen and (max-width: 700px) {
    #school-view {
      flex-direction: column;
    }
  }
</style>
