<style>
  #links {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  #links a {
    margin: 0px 15px;
  }
  #links a:hover {
    cursor: pointer;
  }
</style>

<div id="links">
    <ul class="icons-list">
  <li class="icons-list__item">
    <a href="mailto:wongi@bu.edu" rel="nofollow" target="_blank" title="Send me an email">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      Email
    </a>
  </li>
  <li class="icons-list__item">
    <a href="https://github.com/ivanwong225/" rel="nofollow" target="_blank"  title="Look through my Github profile">
      <i class="fa fa-github" aria-hidden="true"></i>
      Github
    </a>
  </li>
  <li class="icons-list__item">
    <a href="https://www.linkedin.com/in/ivan-wong-223141b7/" rel="nofollow" target="_blank"  title="See my LinkedIn profile">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      LinkedIn
    </a>
  </li>
  <li class="icons-list__item">
    <a href="skype:titsmcgee-" rel="nofollow" target="_blank" title="Call me on Skype">
      <i class="fa fa-skype" aria-hidden="true"></i>
      Skype
    </a>
  </li>
</ul>

</div>
