<style>
  #links {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  #links a {
    margin: 0px 15px;
  }
  #links a:hover {
    cursor: pointer;
  }
  .icons-list__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 33.33%;
  -moz-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  font-size: 1.9rem;
  line-height: 1.9rem;
  list-style: none;
  margin: 0 0 2.5rem;
  padding: 0; }
  .icons-list__item a {
    color: #373737; }
    .icons-list__item a:hover {
      color: #ff00c8;
      text-decoration: none; }
  .icons-list__item i {
    margin-right: .5rem; }

@media (max-width: 800px) {
  .icons-list__item {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 0 1.5rem; } }
.icons-list--two .icons-list__item {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }
</style>

<div id="links" class = "row">
    <ul class="icons-list">
  <li class="icons-list__item">
    <a href="mailto:wongi@bu.edu" rel="nofollow" target="_blank" title="Send me an email">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      Email
    </a>
  </li>
  <li class="icons-list__item">
    <a href="https://github.com/ivanwong225/" rel="nofollow" target="_blank"  title="Look through my Github profile">
      <i class="fa fa-github" aria-hidden="true"></i>
      Github
    </a>
  </li>
  <li class="icons-list__item">
    <a href="https://www.linkedin.com/in/ivan-wong-223141b7/" rel="nofollow" target="_blank"  title="See my LinkedIn profile">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      LinkedIn
    </a>
  </li>
  <li class="icons-list__item">
    <a href="skype:titsmcgee-" rel="nofollow" target="_blank" title="Call me on Skype">
      <i class="fa fa-skype" aria-hidden="true"></i>
      Skype
    </a>
  </li>
</ul>

</div>
