<div id="school-view" class="container-fluid">
  <div id="student_frank_img">
    <img id="student_frank" class="fadein" src="images/student.jpg"/>
    <span class="navCategory">Fall '15  </span>
    <span class="navSubsection">Photo Credit: Eddy Medina</span>
  </div>
  <div id="student_bio">
    <span class="largeCapBold">Cornell University '18</span><br><br>

    <span class="smallCapBold">College of Engineering</span>
    <p class="smallFont">I am a junior studying Computer Science in Cornell University's College of Engineering, currently away on co-op at Mathworks. As an engineering student I have taken core classes in Multivariable Calculus, Linear Algebra, Chemistry, and Physics, as well as introductory course in Earthquakes and natural disasters.</p>

    <span class="smallCapBold">Computer Science</span><br>
    <p class="smallFont">As a Computer Science major I've taken fundamental courses in Object Oriented Programming & Data Structures, Discrete Structures, and Functional Programming, as well as more advanced courses in Algorithms and Database Systems. On the lower level, I've taken Electrical Engineering courses in Digital Logics and Embedded Systems, working with microcontrollers and the C programming language. For fun I've also taken a short course on UNIX tools and scriping.</p>

    <span class="smallCapBold">Engineering World Health Project Team</span><br>
    <p class="smallFont">On campus I am a part of the Engineering World Health project team, which creates low-cost biomedical devices for third world countries. As a member of the software subteam, I work in a small group on the software components of our interdisciplinary projects. Most recently, we implemented a backend and web application to visualize water quality of wells in India based on data collected by sensors from the Bio and Electrical subteams.</p>
    <br>
    <span class="largeCapBold">Bronx Science '14</span><br>
    <p class="smallFont">I attended the Bronx High School of Science, one of the specialized high schools in New York City. There I received my introduction to computer science with my first language Java, and moved on to take other electives such as Game Programming in C#.</p><br>
  </div>
</div>

<style>
  #school-view {
    display: flex;
    flex-direction: row;
  }
  #student_frank_img {
    flex: 1 60%;
    margin-right: 15px;
  }
  #student_frank {
    width: 100%;
  }
  #student_bio {
    flex: 2 40%;
  }
  
  @media only screen and (max-width: 700px) {
    #school-view {
      flex-direction: column;
    }
  }
</style>
